<div class="container py-5 text-center justify-content-center">
  <section class="banner">
    <div class="text-start z-3 ">
      <h2 class="h1 fw-bold mb-lg-5 mb-1 ">Скидки на травяные чаи</h2>
      <p class="py-md-4 py-sm-0 py-0 mb-lg-5 mb-sm-0 fs-3 d-sm-block d-none">Узнай все подробности,
        заполнив заявку</p>
      <a routerLink="/catalog" class="btn btn-primary px-sm-4 px-5">Заказать</a>
    </div>
    <!--    <img src="./assets/banner1.png" alt="" class="w-100">-->
  </section>
  <section>
    <h2 class="my-5 lh-1 fw-bold">Ответы на часто задаваемые вопросы</h2>
    <div id="accordion" class="mx-auto col-lg-10 col-12 pb-2">
      <h3 class="text-bg-primary rounded-3 fw-bold lh-1 py-4 my-3 pe-5">Собираете ли вы подарочные боксы?</h3>
      <div class="border-0">
        <p> Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и
          стоимость!</p>
      </div>
      <h3 class="text-bg-primary rounded-3 fw-bold lh-1 py-4 my-3 pe-5">Сколько у вас разновидностей чая?</h3>
      <div class="border-0">
        <p> У нас постоянно в наличии более 30 видов чая. </p>
      </div>
      <h3 class="text-bg-primary rounded-3 fw-bold lh-1 py-4 my-3 pe-5">В какой срок осуществляется
        доставка?</h3>
      <div class="border-0">
        <p>Заказы, оформленные до 12.00 дня, доставляются в тот же день после 17.00. Заказы, оформленные
          после
          12.00, доставляются на следующий день в удобное для вас время.</p>
      </div>
      <h3 class="text-bg-primary rounded-3 fw-bold lh-1 py-4 my-3 pe-5">У вас обновляется ассортимент?</h3>
      <div class="border-0">
        <p>Да, мы постоянно привозим новые купажи чая от наших производителей.</p>
      </div>
      <h3 class="text-bg-primary rounded-3 fw-bold lh-1 py-4 my-3 pe-5">Какого объема у вас пачки чая?</h3>
      <div class="border-0">
        <p> От 50 до 250 гр.</p>
      </div>
    </div>
  </section>
  <div class="popup-bg" *ngIf="popupOnView">
    <div class="popup-text">
      Посмотрите наши чайные коллекции!
    </div>
    <a class="btn btn-success" routerLink="catalog">Смотреть</a>
  </div>
</div>
