/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.order {
  flex: 1 0 auto;
}

.main {
  padding-top: 500px;
  flex: 1 0 auto;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 10px;
}

.card {
  max-width: 420px;
  height: 800px;
}

.footer {
  flex: 0 0 auto;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
